<div class="body">
    <mat-card  class="body-page" appearance="outlined">
        <img class="me-image" src="../../assets/images/ako.png" alt="">   

            
        <div class="active">
            <div class="blink-circle"></div>
            <div style="font-size: 13px; color: #069855; font-family: 'Poppins'; font-weight: 700;">AVAILABLE FOR WORK</div>
        </div>

            <div class="name">Ivan Joshua Merete</div>
            <div class="profesion">Software Engineer | UI/UX Designer</div>

            <div style="display: flex;flex-direction: row; gap: 12px;">
                <button class="hire-me">Hire Me</button>
                <button class="email" (click)="copyEmail()" [disabled]="isCopying">
                    <i class="fa-solid fa-copy" style="color: #ffffff;"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ buttonText }}</button>
            </div>

            <div class="skill-text">Technology</div>

            <div class="skills-set">
                <div class="skill-first">   
                <img class="skills" src="../../assets/images/vscode-icons_file-type-angular.png" alt="">
                <img class="skills" src="../../assets/images/logos_laravel.png" alt="">
                <img class="skills"src="../../assets/images/asp.png" alt="">
                <img class="skills" src="../../assets/images/js.png" alt="">
                <img class="skills" src="../../assets/images/php.png" alt="">
                <img class="skills" src="../../assets/images/c.png" alt="">
               

                </div>

                <div class="skill-second">
                    <img class="skills" src="../../assets/images/aazure.png" alt="">
                    <img class="skills" src="../../assets/images/bootsrtap.png" alt="">
                    <img class="skills" src="../../assets/images/figmas.png" alt="">
                    <img class="skills" src="../../assets/images/html.png" alt="">
                    <img class="skills" src="../../assets/images/js.png" alt="">
                    <img class="skills" src="../../assets/images/ts.png" alt="">
                </div>

                <div class="skill-last">
                    <img class="skills" src="../../assets/images/gitt.png" alt="">
                    <img class="skills" src="../../assets/images//php.png" alt="">
                    <img class="skills" src="../../assets/images/sass.png" alt="">
                    <img class="skills" src="../../assets/images/sql.png" alt="">
                </div>
                
            </div>
            <div class="skill-text">
                Projects
            </div>

            <div class="project">
                <div class="project-item">

                </div>
                <div class="project-item">

                </div>
                <div class="project-item">

                </div>
                <div class="project-item">

                </div>
                
            </div>
            
            <div class="skill-text">
                Projects
            </div>
      </mat-card>
</div>