<div class="body">
    <mat-card class="card-header" appearance="outlined">
        <div class="content">
            <a class="btn-btn-btn" matTooltip="Home" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="above" routerLink="" routerLinkActive="active">
                <i class="fa-solid fa-house fa-2xl"></i>
            </a>

            <a class="btn-btn-btn" matTooltip="About" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="above" routerLink="about" routerLinkActive="active">
                <i class="fa-solid fa-user fa-2xl"></i>
            </a>

            <a class="btn-btn-btn" matTooltip="Work" aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="above" routerLink="work" routerLinkActive="active"> 
                <i class="fa-solid fa-briefcase fa-2xl"></i>
            </a>
        </div>
        <div class="btn-contact">
            <button mat-flat-button>Contact me</button>
        </div>
    </mat-card>

    <!-- <app-home style="width: 100%;"></app-home> -->
</div>
